.rPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.container ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
